#home-page {
    h1 {
        margin: 4rem auto;
        text-align: center;
        font-family: cursive;
    }
    .Christams-logo {
        max-width: 500px;
        max-height: 500px;  
        margin: 0 auto;
        display: block;
        border: 1px solid black;
        box-sizing: border-box;
    }
    .valentines-logo {
        max-width: 500px;
        max-height: 400px;  
        margin: 0 auto;
        display: block;
        border: 1px solid black;
        box-sizing: border-box;
    }

}

