#home-page {
    h1 {
        margin: 4rem auto;
        text-align: center;
    }
    .Christams-logo {
        max-width: 500px;
        max-height: 500px;  
        margin: 0 auto;
        display: block;
    }

}

